.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
  }
  
  .about-title {
    position: relative;
    align-items: flex-start; /* Align items to the start (left) */
    text-align: left; /* Ensure text is left-aligned */
  }
  
  .about-title h1 {
    padding: 0px 30px;
    font-size: 70px;
    font-weight: 530;
  }
  
  .about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  
  .about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
  }
  
  .about-section {
    display: flex;
    gap: 80px;
    align-items: flex-start; /* Align items to the start (left) */
    text-align: left; /* Ensure text is left-aligned */
  }
  
  .about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .about-skill {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
  }
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
}  
.about-achievments{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;

}

.achievment{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}
.achievment h1{
    font-size: 40px;
    font-weight: 500;
    background: linear-gradient(270deg, #DA8908 50.41%, #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; /* Correct the typo here */
    -webkit-text-fill-color: transparent; /* Add this line */
}

.achievment p{
    font-size: 24px;
    font-weight: 300;
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.achievment:hover{
    transform: scale(1.12);
    transition: 0.5s;
}